<div class="card">
   <div class="col-md-12">
      <div class="note">
      If you are trying to fill data using mobile phone, please be patient to use browser in your desktop to get more experience.
   </div>
   <div class="note-2">
      This is system genarated. The system does not allow to login again after submit your details. Please be patient to submit your correct details on first try!
      <p class="emr">Emergency contact - Email: <a href="mailto:admission2020@univotec.ac.lk">admission2020@univotec.ac.lk</a></p>
   </div>
   </div>
   <div class="card-header">
      <h5 class="card-title">Student Registration</h5>
   </div>
   <div class="card-body">
      <div class="">
         <div class="card secondary-card">
            <!-- <div class="card-header d-flex">
               <h6 class="card-title">Create Users</h6>
            </div> -->
            <div class="card-body">
               <div class="row">
                  <div class="form-group col-md-12 col-sm-12">
                     <label>Degree Programme</label>
                     <input type="text" disabled class="form-control" [(ngModel)]="showData.degree"/>
                  </div>
               </div>
               <p class="top-note">Personal data (to be filled in block capitals)</p>
               <form [formGroup]="registrationForm" (ngSubmit)="updateDetails()">
               <div class="row">
                  <div class="form-group col-md-7 col-sm-12">
                     <label>NAME IN FULL AS IN NIC</label>
                     <textarea title="Enter name in full." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="nameInFull"
                        [ngClass]="submitted || isInvalidField('nameInFull') ? 'error-field' : ''"></textarea>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('nameInFull')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.nameInFull.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-5">
                     <label>NAME WITH INITIALS</label>
                     <textarea title="Enter name in initials." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="nameInInitial"
                        [ngClass]="submitted || isInvalidField('nameInInitial') ? 'error-field' : ''"></textarea>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('nameInInitial')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.nameInInitial.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-7">
                     <label>PERMANENT ADDRESS</label>
                     <textarea title="Enter permanent address." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="permanentAddress"
                        [ngClass]="submitted || isInvalidField('permanentAddress') ? 'error-field' : ''"></textarea>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('permanentAddress')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.permanentAddress.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-7">
                     <label>CONTACT ADDRESS <span>(if contact address differs from permanent address)</span></label>
                     <textarea title="Enter contact address." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="contactAddress"
                        [ngClass]="submitted || isInvalidField('contactAddress') ? 'error-field' : ''"></textarea>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('contactAddress')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.contactAddress.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="form-group col-md-12">
                     <label><b>Contact Numbers</b></label>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Residence</label>
                     <input title="Enter residence number." type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="residence"
                        [ngClass]="submitted || isInvalidField('residence') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('residence')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.residence.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Mobile</label>
                     <input title="Enter mobile number." type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="mobile"
                        [ngClass]="submitted || isInvalidField('mobile') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('mobile')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.mobile.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="form-group col-md-4">
                     <label>Email</label>
                     <input title="Enter valid email." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="email"
                        [ngClass]="submitted || isInvalidField('email') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('email')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.email.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Nic No</label>
                     <!-- <input title="Your NIC." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="nic"
                        [ngClass]="submitted || isInvalidField('nic') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('nic')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.nic.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div> -->
                     <input type="text" disabled class="form-control" [(ngModel)]="showData.nic" [ngModelOptions]="{standalone: true}"/>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Nic issue date</label>
                     <input title="Yout NIC issue date." type="date" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="issueNic"
                        [ngClass]="submitted || isInvalidField('issueNic') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('issueNic')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.issueNic.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Civil Status</label>
                        <div class="col-md-12">
                           <div class="row">
                              <div class="custom-control custom-radio">
                                 <input id="SINGLE" type="radio" class="custom-control-input" [value]=false name="civil" formControlName="civil">
                                 <label class="custom-control-label" for="SINGLE">SINGLE</label>
                              </div>
                              <div class="custom-control custom-radio">
                                 <input id="MARRIED" type="radio" class="custom-control-input" [value]=true name="civil" formControlName="civil">
                                 <label class="custom-control-label" for="MARRIED">MARRIED</label>
                              </div>
                           </div>
                     </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('civil')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.civil.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Gender</label>
                     <div class="col-md-12">
                        <div class="row">
                           <div class="custom-control custom-radio">
                              <input id="MALE" type="radio" class="custom-control-input" [value]=true name="gender" formControlName="gender">
                              <label class="custom-control-label" for="MALE">MALE</label>
                           </div>
                           <div class="custom-control custom-radio">
                              <input id="FEMALE" type="radio" class="custom-control-input" [value]=false name="gender" formControlName="gender">
                              <label class="custom-control-label" for="FEMALE">FEMALE</label>
                           </div>
                        </div>
                  </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('gender')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.gender.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Nationality</label>
                     <!-- <input title="Enter nationality." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="nationality"
                        [ngClass]="submitted || isInvalidField('nationality') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="nation"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="nationality"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('nationality')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.nationality.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Religion</label>
                     <input title="Enter religion." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="religion"
                        [ngClass]="submitted || isInvalidField('religion') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('religion')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.religion.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="form-group col-md-4">
                     <label>District of residence</label>
                     <!-- <input title="Enter district of residence." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="district"
                        [ngClass]="submitted || isInvalidField('district') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="district"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="district"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('district')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.district.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-md-5">
                     <label>Distance in km to the university from permanent address (On-road distance as per the Google map)</label>
                  </div>
                  <div class="form-group col-md-2">
                     <input title="Enter distance." type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="kmFromAddress"
                        [ngClass]="submitted || isInvalidField('kmFromAddress') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('kmFromAddress')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.kmFromAddress.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <!-- <div class="row">
                  <div class="form-group col-md-5">
                     <label>Distance in km to the university from place of work</label>
                  </div>
                  <div class="form-group col-md-2">
                     <input title="Enter distance." type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="kmFromWork"
                        [ngClass]="submitted || isInvalidField('kmFromWork') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('kmFromWork')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.kmFromWork.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div> -->
               <hr>
               <div class="row">
                  <div class="form-group col-md-12">
                     <label><b>Educational Qualifications:</b></label><br>
                     <label><u>g.c.e A/L results</u></label>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Index no</label>
                     <input title="Enter A/L Index No." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="indexNo"
                        [ngClass]="submitted || isInvalidField('indexNo') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('indexNo')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.indexNo.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Year</label>
                     <!-- <input title="Enter A/L year." type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="year"
                        [ngClass]="submitted || isInvalidField('year') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="year"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="year"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('year')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.year.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Z-score</label>
                     <input title="Enter z-score." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="zscore"
                        [ngClass]="submitted || isInvalidField('zscore') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('zscore')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.zscore.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-md-4">
                     <label>Attempt</label>
                     <!-- <input title="Enter attempt." type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="attempt"
                        [ngClass]="submitted || isInvalidField('attempt') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="alattemt"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="attempt"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('attempt')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.attempt.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Stream</label>
                     <!-- <input title="Enter stream." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="stream"
                        [ngClass]="submitted || isInvalidField('stream') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="streams"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="stream"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('stream')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.stream.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-md-8">
                  <table class="table table-striped table-bordered row-border hover" id="tblMarksData">
                     <thead>
                        <tr>
                           <th scope="col">Subject</th>
                           <th scope="col">Grade</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <!-- <input title="Enter subject." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="subject1"
                        [ngClass]="submitted || isInvalidField('subject1') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="subjects"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="subject1"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('subject1')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.subject1.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                           <td>
                              <!-- <input title="Enter grade." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="grade1"
                        [ngClass]="submitted || isInvalidField('grade1') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="grades"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="grade1"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('grade1')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.grade1.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <!-- <input title="Enter subject." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="subject2"
                        [ngClass]="submitted || isInvalidField('subject2') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="subjects"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="subject2"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('subject2')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.subject2.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                           <td>
                              <!-- <input title="Enter grade." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="grade2"
                        [ngClass]="submitted || isInvalidField('grade2') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="grades"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="grade2"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('grade2')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.grade2.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <!-- <input title="Enter subject." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="subject3"
                        [ngClass]="submitted || isInvalidField('subject3') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="subjects"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="subject3"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('subject3')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.subject3.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                           <td>
                              <!-- <input title="Enter grade." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="grade3"
                        [ngClass]="submitted || isInvalidField('grade3') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="grades"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="grade3"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('grade3')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.grade3.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <!-- <input title="Enter subject." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="subject4"
                        [ngClass]="submitted || isInvalidField('subject4') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="subjects"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="subject4"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('subject4')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.subject4.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                           <td>
                              <!-- <input title="Enter grade." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="grade4"
                        [ngClass]="submitted || isInvalidField('grade4') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="grades"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="grade4"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('grade4')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.grade4.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <!-- <input title="Enter subject." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="subject5"
                        [ngClass]="submitted || isInvalidField('subject5') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="subjects"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="subject5"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('subject5')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.subject5.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                           <td>
                              <!-- <input title="Enter grade." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="grade5"
                        [ngClass]="submitted || isInvalidField('grade5') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="grades"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="grade5"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('grade5')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.grade5.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <!-- <input title="Enter subject." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="subject6"
                        [ngClass]="submitted || isInvalidField('subject6') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="subjects"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="subject6"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('subject6')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.subject6.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                           <td>
                              <!-- <input title="Enter grade." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="grade6"
                        [ngClass]="submitted || isInvalidField('grade6') ? 'error-field' : ''"> -->
                        <div class="ng-autocomplete">
                           <ng-autocomplete 
                             [data]="grades"
                             [searchKeyword]="common_keyword"
                             (selected)='selectEvent($event)'
                             (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)'
                             [itemTemplate]="itemTemplate"
                             formControlName="grade6"
                             [notFoundTemplate]="notFoundTemplate">                                 
                           </ng-autocomplete>
                            
                           <ng-template #itemTemplate let-item>
                           <a [innerHTML]="item.name"></a>
                           </ng-template>
                            
                           <ng-template #notFoundTemplate let-notFound>
                           <div [innerHTML]="notFound"></div>
                           </ng-template>
                           </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('grade6')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.grade6.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                           </td>
                        </tr>
                     </tbody>
                     </table>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="form-group col-md-12">
                     <p><b>Have you undertaken studies at present at any other University/Higher Education Instituation.</b></p>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-md-4">
                     <div class="col-md-12">
                        <div class="row">
                           <div class="custom-control custom-radio">
                              <input id="YES" type="radio" class="custom-control-input" [value]=true name="presentEducation" formControlName="presentEducation">
                              <label class="custom-control-label" for="YES">YES</label>
                           </div>
                           <div class="custom-control custom-radio">
                              <input id="NO" type="radio" class="custom-control-input" [value]=false name="presentEducation" formControlName="presentEducation">
                              <label class="custom-control-label" for="NO">NO</label>
                           </div>
                        </div>
                  </div>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('presentEducation')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.presentEducation.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <div class="row" *ngIf="registrationForm.controls.presentEducation.value == true">
                  <div class="form-group col-md-6">
                     <label>If yes, name of the institute and course:</label>
                     <input title="Enter institute." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="isPresentInstitute"
                        [ngClass]="submitted || isInvalidField('isPresentInstitute') ? 'error-field' : ''">
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('isPresentInstitute')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.isPresentInstitute.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-md-8">
                     <label>Comment/s</label>
                     <textarea title="Enter comment." type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="comment"
                        [ngClass]="submitted || isInvalidField('comment') ? 'error-field' : ''"></textarea>
                     <div class="err-lbl" *ngIf="submitted || isInvalidField('comment')">
                        <span class="field-msg error-msg" *ngIf="registrationForm.controls.comment.errors?.required">
                        <i class="fa fa-times-circle"></i>&nbsp;Invalid
                        </span>
                     </div>
                  </div>
               </div>

               <div class="col-md-12">
                  <div class="row sign-section">
                     <div class="custom-control custom-radio">
                        <input id="sign" type="radio" class="custom-control-input" checked name="isSignature" (click)="canSignature(false)">
                        <label class="custom-control-label" for="sign">Sign with signature pad</label>
                     </div>
                     <div class="custom-control custom-radio">
                        <input id="ups" type="radio" class="custom-control-input" name="isSignature" (click)="canSignature(true)">
                        <label class="custom-control-label" for="ups">Upload signature</label>
                     </div>
                  </div>
               <div class="row">
               <div class="col-md-9 outer-signature" *ngIf="!isSignature">
                  <label>Your Signature (try to sign here with your original signature)</label>
                  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                  <div class="col-md-12">
                  <div class="btn btn-danger" (click)="clearSignature()"><i class="fa fa-eraser"></i> Clear Signature</div>&nbsp;
                  <div class="btn btn-warning" (click)="uploadFiles('', 'signature', false)"><i class="fa fa-save"></i> Save Signature</div>&nbsp;
               </div>
               </div>
               <div class="row">
               <div class="col-md-12 document-section">
                  <div class="row">
                     <div class="col-md-12">
                        <p>JPG or PNG format required!</p>
                     </div>
                     
                  <div class="col-md-5 align-items-center mb-10" *ngIf="isSignature">
                     <label><b>Upload Signature</b></label>
                     <div class="d-inline-flex flex-row-start">
                        <input type="file" class="custom-file-input" name="signature" (change)="uploadFiles($event, 'signature', true)" />
                     </div>
                  </div>
                  <div class="col-md-5 align-items-center mb-10">
                     <label><b>Upload NIC</b></label>
                     <div class="d-inline-flex flex-row-start">
                        <input type="file" class="custom-file-input" name="nic_card" (change)="uploadFiles($event, 'nic_card', false)" />
                     </div>
                  </div>
                  <div class="col-md-5 align-items-center">
                     <label><b>Upload School Leaving</b></label>
                     <div class="d-inline-flex flex-row-start">
                        <input type="file" class="custom-file-input" name="school_leaving_certificate" (change)="uploadFiles($event, 'school_leaving_certificate', false)" />
                     </div>
                  </div>
               <div class="col-md-5 align-items-center">
                  <label><b>Upload A/L Certificate</b></label>
                     <div class="d-inline-flex flex-row-start">
                        <input type="file" class="custom-file-input" name="advance_level_certificate" (change)="uploadFiles($event, 'advance_level_certificate', false)" />
                     </div>
                     <!-- <div class="d-inline-flex flex-row-reverse">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Upload</button>
                     </div> -->
                  </div>
                  <!-- <div class="btn btn-warning mb-10" (click)="uploadFiles('school_leaving_certificate')"><i class="fa fa-upload"></i> Upload School Leaving</div>
                  <div class="btn btn-warning mb-10" (click)="uploadFiles('advance_level_certificate')"><i class="fa fa-upload"></i> Upload A/L certificate</div> -->
               </div>
            </div>
               </div>
               </div>
               </div>
               
               <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                     <button type="submit" class="btn btn-success btn-save"><i class="fa fa-save"></i> Save Details</button>&nbsp;
                     <!-- <button class="btn btn-warning" (click)="showregistrationForm = false"><i class="fa fa-reply"></i>&nbsp; Cancel</button> -->
                  </div>
               </div>
               
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<ng-template #customLoadingTemplate>
   <div class="custom-class">
      <h3>
         Please Wait...
      </h3>
   </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>